{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="col-12">
        <div class="row text-center">
            <div class="col-6">
                <div class="card" style="width: 20rem;">
                    <img src="{{ object.image|mediapath }}" class="card-img-top" alt="...">
                    <div class="card-header">
                        <h4 class="card-title">{{ object.title }} ({{ object.slug }})</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ object.content }}</p>
                        <a href="{% url 'blog:list' %}" class="btn btn-sm btn-outline-secondary">Назад</a>
                    </div>
                    {% if object.is_published %}
                        <a class="btn btn-warning"
                           href="{% url 'blog:toggle_activity' object.slug %}">Деактивировать</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'blog:toggle_activity' object.slug %}">Активировать</a>
                    {% endif %}
                    <div class="card-footer">
                        Просмотры: {{ object.views_count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}