{% extends 'catalog/base.html' %}

{% block content %}
<div class="row text-center">
    {% for object in objects_list %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title pricing-card-title">{{ object.name }}</h4>
                <h6 class="card-title pricing-card-title">{{ object.description|truncatechars:100}}</h6>
                <a href="{% url 'catalog:product' object.id %}" class="btn btn-outline-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}