{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col-12 mb-5">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-primary" href="{% url 'catalog:list_category' %}">Категории</a>
                <a class="btn btn-outline-success" href="{% url 'catalog:create_product' %}">Создать продукт</a>
            {% endif %}
        </div>
        {% for object in object_list %}
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title pricing-card-title">{{ object.name }}</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title pricing-card-title">{{ object.description|truncatechars:100 }}</h6>
                        <a href="{% url 'catalog:view_product' object.id %}"
                           class="btn btn-outline-secondary">Подробнее</a>
                        {% for version in object.versions.all %}
                            {% if version.current_version %}
                                <p class="card-text mb-3">Версия: {{ version.number_version }}</p>
                            {% endif %}
                        {% endfor %}
                        <div class="card-footer mt-2">
                            {% if user_is_moderator %}
                                {% if object.is_published %}
                                    <small class="text-success">Активно</small>
                                {% else %}
                                    <small class="text-danger">Не активно</small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}